html{
    background-color: black;
  }

  .item-container{
    margin: 100px;
    perspective: 100;
    -webkit-perspective: 800;
    perspective: 800;
  }

  .movie-info{
    width:400px;
    height:370px;
    background-color:#eff1f4;
    position:relative;
    transform-style:preserve-3d;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px hsla(59, 100%, 48%, 0.651);
    -moz-box-shadow: 0px 10px 15px -5px hsla(59, 100%, 48%, 0.651);
    box-shadow:0px 10px 15px -5px hsla(59, 100%, 48%, 0.651);
    
  
  }
  .imagen, .atras{
    width: 100%;
    height:100%;
    position:absolute;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    
  }

  .img_movies{
    width: 360px;
    height:370px;
    right: 100px;
  }

  .atras{
    transform: rotateY(180deg);
    padding: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    color:black;
    font-family:'Calibria';
    font-size:large;
  }

  .item-container:hover .movie-info{
    transform: rotateY(180deg);
  }
  
  .wrapper{
      width: 1100px;
      display: flex;
      margin: 50px auto;
      justify-content: center;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 100px;
      grid-auto-rows: 200px;
  }

  
  h1{
      color:white;
      font-family:fantasy;
      font-size: 100px;
      height: 150px;
      font-weight: 100px;
      text-align: center;
  }

label[for="categorias"],
label[for="nombre"]{
    font-family: 'Cambria';
    font-size: 40px;
    color: white;
    padding: 10px;
    }

label[for="nombre"]{
    margin-left: 400px
    }

select{
    border-radius: 20px;
    width: 250px;
    height: 50px;
    font-size: 30px;
}

footer{
    color: white ;
    font-size: 80px;
    width: 100%;
    height:50px;
    line-height:50px;
    bottom:0;
    left:0; 
}

.flex-container{
display: flex;
}

#reset-button{
    width: 100px;
    top:0;
}